/* this is Cart.css*/

.cart-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.cart-item {
  display: flex;
  gap: 15px;
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.cart-info {
  flex: 1;
}

/* .qty-controls {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}

.qty-controls button {
  padding: 5px 12px;
  font-size: 16px;
}

.remove-btn {
  background: #e74c3c;
} */

