/* this is ManageUsers.css*/
table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

th {
  background: #2c3e50;
  color: white;
}
